
  .note-tab {
    border-radius: 0px 15px 15px 0px;
    font-size: calc(10px + 2vmin);
    width: fit-content;
    max-width: 10vw;
    -webkit-transition: padding-right .5s;
    -webkit-transition: max-width .5s;
    transition: padding-right .5s;
    transition: max-width .5s;
    margin-top: 20%;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  
  .note-tab:hover {
    max-width: 50vw;
    padding-right: 20px;
    font-size: calc(10px + 2vmin);
  }
  
  .note-tab:nth-child(1n) {
    background-color: salmon;
    border-color: salmon;
  }
  
  .note-tab:nth-child(2n) {
    background-color:aquamarine;
    border-color: aquamarine;
  }
  
  .note-tab:nth-child(3n) {
    background-color: lavender;
    border-color: lavender;
  }
  
  .note-tab:nth-child(4n) {
    background-color: blanchedalmond;
    border-color: blanchedalmond;
  }