.tabs {
    width: 10%;
    float: left;
  }
  
  .note-tab {
    border-radius: 0px 15px 15px 0px;
    font-size: calc(10px + 2vmin);
    width: 10vw;
    -webkit-transition: width .5s;
    transition: width .5s;
    margin-top: 20%;
    white-space: nowrap;
    overflow-y: hidden;
  }
  
  .note-tab:hover {
    width: 22vw;
    font-size: calc(10px + 2vmin);
  }
  
  .note-tab:nth-child(1n) {
    background-color: salmon;
    border-color: salmon;
  }
  
  .note-tab:nth-child(2n) {
    background-color:aquamarine;
    border-color: aquamarine;
  }
  
  .note-tab:nth-child(3n) {
    background-color: lavender;
    border-color: lavender;
  }
  
  .note-tab:nth-child(4n) {
    background-color: blanchedalmond;
    border-color: blanchedalmond;
  }